body {
    background-color: red;
}
/*Далее остальные стили*/
@media (min-width:481px) and (max-width:768px){
    body {
        background-color: blue;
    }
    /*Далее остальные стили*/
    
.one{
    width: 250px;
    height: 150px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 20px;

}
}

@media (min-width:769px){
    body {
        background-color: yellow;
    }
    /*Далее остальные стили*/
    

    .one{
        width: 350px;
        height: 200px;
        background-color: blueviolet;
        margin-top: 10px;
        margin-left: 20px;
    
    }
}


.one:hover{
    background-color: violet;
    transition: 1s;
   
}


.one{
    width: 250px;
    height: 150px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 20px;

}
