
.flex-cont-st{
	display: flex-inline;
	
}
.flex-cont{
	display: flex;
}	

.flex-it{
	width: 60px;
	height: 60px;
	padding: 2em;
	text-align: center;
	}
.flex-it:hover{
	font-weight: bold;
	color: blue;
	
}

.col-red{background-color:red;}
.col-yel{background-color:yellow;}
.col-gre{background-color:green;}
.col-blu{background-color:blue;}
.col-cya{background-color:cyan;}
.col-mag{background-color:magenta;}


