
.flex-cont-in{	
	display: flex-inline; 
	border:1px solid #ccc; 
	width: 60%;
	height:8.25em;
	flex-wrap: wrap;
}


.flex-cont{	
	display: flex; 
	border:1px solid #ccc;
	width: 30%;
	height:8.25em;
	flex-flow: row wrap;
}	

.flex-row{flex-direction: row;}
.flex-row-rev{flex-direction:row-reverse;}
.flex-col{flex-direction: column;}
.flex-col-rev{flex-direction: column-reverse;}



.flex-it{
	text-align:center;
                font-size: 1em;
                padding: 1.5em;
                color: white;
                opacity: 0.8;
				
	}
.flex-it:hover{
	font-weight: bold;
	color: blue;
	
}
#h2r{
	color: darkred;
	text-align: center;
}
.float-left{float: left;}
.float-right{float: right;}
.float-inl-end{float: inline-end;}
.float-inl-strt{float: inline-start;}

.clear{clear: both;}

.col1{background-color:red;}
.col2{background-color:yellow;}
.col3{background-color:green;}
.col4{background-color:blue;}
.col5{background-color:cyan;}
.col6{background-color:magenta;}


