div{
    margin: 5px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
}
#header{ 
    background-color: #ccc;
}
#sidebar_l{
    background-color: #aaa;
    float: left;
    width: 150px;
}

#sidebar_r{
    background-color: #ddd;
    float: right;
    width: 150px;
}

#main{
    background-color: #eee;
    height: 80%;
    margin-right: 160px;
    
    overflow: auto;
}
#footer{ 
    background-color: #ccc;
}

#menu{
    background-color: #b8b;
    width: 160px;
    float: left;
}

#content{
    background-color: #888;
    height:  400px;
    margin-left: 170px;
}