div{
    margin: 15px; /* внешний отступ */
    padding: 11px; /* внутренний отступ */
    border: 3px solid red;/* границы шириной в 3 пикселя сплошной красной линией */
    border-radius: 30px/50px;
    background-color: #ddd;
    }

div.r11{
                margin-top: 30px; /* отступ сверху */
                margin-left: 25px; /* отступ слева */
                margin-right: 20px; /* отступ справа */
                margin-bottom: 15px; /* отступ снизу */
                height: 200px;
                border: 3px solid grey; /* граница */
                background-image: url(../html/content/debian-ubuntu-centos-1.jpg);
                background-size: cover;
                overflow: auto;
}

div .r11{
    margin-top: 20px; /* отступ сверху */
    margin-left: 15px; /* отступ слева */
    margin-right: 40px; /* отступ справа */
    margin-bottom: 25px; /* отступ снизу */
   
    border-style: double;
    border-width: 4px;
    border-color: blue;
    border-radius: 20px;
    
    text-align: center;
    line-height: 250%;
    background-color: darkcyan;
    color: yellow;
    opacity: 0.7;
    font-size: 200%;
    font-style: oblique;
}

div.outer{
    width: 500px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 5px solid #ccc;
    background-color: #eee;
    overflow: auto;
    
}

div.outer1{
    box-sizing: content-box;
    box-shadow: 5px 3px 8px 3px #faa, 10px 4px 10px 3px #888 inset;
}

div.outer2{
    box-sizing: border-box;
    box-shadow: 5px 3px 8px 3px #faa;
}
.image { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ccc;
    opacity: 0.8;
}
    
.ct{
 margin-left: auto;
 margin-right: auto;
}
 .grad1{
    margin-top: 0px; /* отступ сверху */
    margin-left: 0px; /* отступ слева */
    margin-right: 0px; /* отступ справа */
    margin-bottom: 0px; /* отступ снизу */
    width: 200px;
    height: 200px;
    border-radius: 150px;
     
    background-color: #eee;
    border: none;
     background: radial-gradient(white,red);
    /* background-image: -moz-radial-gradient(white, black);*/
     background-image: -webkit-radial-gradient(20% 30%,circle,white, black);
 }
 p.gr1{
    margin: 0;
    padding-top: 60px;
    text-align: center;
    color: #eee;
}